.margen-top-sm {
    margin-top: 10px;
}

.margen-top-lg {
    margin-top: 30px;
}

.padding-sm {
    padding: 10px;
}

.padding-md {
    margin-top: 50px;
}

.colorfondo-rojo {
    background-color: #e96767;
}

.colorfondo-naranja {
    background-color: #f18e4c;
}

.colorfondo-mostaza {
    background-color: #ffdc60;
}

.colorfondo-verde {
    background-color: #8bff8b;
}

.colorfondo-turquesa {
    background-color: #9afafa;
}

.colorfondo-azul {
    background-color: #8cddf8;
}

.colorfondo-lila {
    background-color: #c8adeb;
}

.colorfondo-rosa {
    background-color: #FFB6C1;
}

.card-body {
    padding: 0px;
}

.card-title {
    padding: 10px;
}

.card-text {
    min-height: 120px;
}


.h5 {
    padding: 0;
}